* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.active {
    color: #0282F9;
}

/* Utils */

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.black-background {
    background-color: black;
}

.blue-background {
    background-color: #0282F9;
}

.h-100 {
    height: 100px;
}

.white-text {
    color: white;
}

.margin-right-10 {
    margin-right: 10px;
}

/* Header */

header {
    margin-block: 20px;
}

.logo {
    width: 80px;
}

.logo img {
    width: 100%;
}

header nav {
    height: 100%;
}

.navList {
    display: flex;
    height: 100%;
}

.navList li {
    padding-inline: 10px;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    align-content: center;
}

.navList li a:hover {
    color: #0282F9
}

/* Main */
.blue-background {
    position: relative;
    z-index: 10;
}

.black-background div {
    width: 100%;
    height: 100%;
    position: relative;
}

.black-background div span {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

main .black-background span {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.blue-background .container {
    height: 100%;
}

.blue-background nav {
    height: 100%;
    margin-inline: 35px;
}

.blue-background nav ul {
    height: 100%;
    align-items: center;
}

.blue-background nav ul img {
    width: 30px;
}

.blue-background nav ul a {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 0.8rem;
}

/* Footer */
#topFooter {
    background-image: url('/src/assets/img/footer-bg.jpg');
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;

}

#topFooter .container {
    height: 100%;
}

.topFooterMenus {
    padding-top: 20px;
    padding-right: 20px;
    display: inline-block;
}

.dc {
    position: relative;
    top: -12px;
}

.sites {
    position: relative;
    top: -123px;
}

.topFooterMenus ul {
    margin-bottom: 15px;
}

.topFooterMenus h4 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.topFooterMenus li a {
    font-size: 0.7rem;
    color: rgb(117, 114, 114);
    text-transform: capitalize;
}

.footer-img-container {
    position: relative;
}

.footer-img-container div {
    position: absolute;
    top: -370px;
    right: 0;
    z-index: 0;
}

.footer-img-container div img {
    width: 85%;
}

/* Bottom Footer */
#bottomFooter {
    background-color: #303030;
    height: 90px;
    position: relative;
    z-index: 10;
}

#bottomFooter .container {
    height: 100%;
    align-items: center;
}

.bottomFooterBtn span {
    padding: 10px;
    border: 2px solid #0282F9;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.fotterMenuContainer {
    height: 100%;
}

.fotterMenuContainer ul {
    height: 100%;
    display: flex;
    align-items: center;
}

.fotterMenuContainer ul li {
    padding-left: 15px;
}

.fotterMenuContainer ul li span {
    color: #0282F9;
    text-transform: uppercase;
    font-weight: bold;
}